set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling

" Emulated Plugins
set surround

set commentary

set NERDTree

" Copy to system clipboard as well
set clipboard+=unnamed

" Use Idea to join lines smartly
set ideajoin

" Multiple cursors support
set multiple-cursors

" These settings are from - https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc

set relativenumber
set number
let mapleader = " "

" Use Q for formatting the current paragraph (or visual selection)
vmap Q gq
nmap Q gqap

" Navigation
nmap <C-i> :action Back<cr>
nmap <C-o> :action Forward<cr>
nmap gd :action GotoDeclaration<cr>
nmap gu :action FindUsages<cr>
nmap gf :action GotoFile<cr>
nmap gh :action QuickJavaDoc<cr>
nmap ge :action ShowErrorDescription<cr>
nmap gc :action GotoClass<cr>
nmap gs :action GotoSymbol<cr>
nmap gi :action GotoImplementation<cr>
nmap gt :action GotoTest<cr>
nmap <leader>m :action FileStructurePopup<cr>
nmap <leader>; :action FileStructurePopup<cr>
nmap <leader>M :action ActivateStructureToolWindow<cr>
nmap <leader>I :action SelectIn<cr>
nmap <leader>b :action ShowBookmarks<cr>

" Refactorings
nmap <leader>R :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>rI :action OptimizeImports<cr>
" Inspection
nmap <leader>rc :action InspectCode<cr>

" VCS operations
nmap <leader>yy :action Vcs.Show.Local.Changes<cr>                          
nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
nmap <leader>ya :action Annotate<cr>
nmap <leader>yl :action Vcs.Show.Log<cr>
nmap <leader>yd :action Compare.LastVersion<cr>
" nmap <leader>yr :action Git.ResolveConflicts<cr>                          

nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Moving lines
nmap [e :action MoveLineUp<cr>
nmap ]e :action MoveLineDown<cr>
" Moving statements
nmap [s :action MoveStatementUp<cr>
nmap ]s :action MoveStatementDown<cr>
